# Visual Studio 빌드 산출물
.vs/
x64/
Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.ipch
*.suo
*.user
*.VC.db
*.VC.opendb
*.tlog
*.log
*.recipe
*.lastbuildstate

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
